<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Foodlist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>

<!-- This page is shown after ordering a meal. -->

<body>
<div class="container text-center">
	<p>Thank you for your order. Estimated time for your food to be ready for pick up is approx. ~ 15 minutes. </p>
	</div>
</body>
</html>